<footer class="page-footer blue-grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">krav4enko@mail.ru</div>
  </div>
</footer>

<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/jquery.mobile.custom.min.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
<script src="../js/materialize.js"></script>

<script>
$(document).ready(function(){
  $('.modal').modal({
      outDuration: 0 // Transition out duration
  });
  $('select').material_select();
});
</script>

</body>
</html>