<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--Import Google Icon Font-->

  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"> <!--Import materialize.css-->

  <script src="../js/modernizr.js"></script> <!-- Modernizr -->

  <title>Question</title>
</head>